.DS_Store
.Spotlight-V100
.Trashes
Desktop.ini
lib-cov
logs
pids
results
Thumbs.db
tmp

# Dependency directory
node_modules
bower_components
npm-debug.log
venv

# Editors
.idea
*.iml

# Everything else
._*
*.csv
*.dat
*.db
*.db
*.gz
*.log
*.out
*.pid
*.pyc
*.seed
*.swp
*.zip
